.Nombres-Faltantes{
    display:inline;
    color:white;
}
#Catalogo{
    display: flex;
    width: 100%;
}
#Catalogo img{
    width: 300px;
}
#Catalogo{
   display: flex;
   justify-content: space-around;
   align-items: stretch;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: start;
}
#Footercolor{
    background-color: darkslategray;
}
article{
    border-radius: 100px;
    background-color: aliceblue;
}
#Campi{
    position: absolute;
    top: 10px;
    right: 280px;
    height: 500px;
    padding: 30px;
    border-radius: 80px;
}
#Rating{
    position: absolute;
    right: 30px;
    bottom: 230px;
}
#Service{
    position: absolute;
    right: 30px;
    bottom: 110px;
}
#Banner{
    position: relative;
    padding: 30px;
    width: 100%;
    height: 500px;
}
.A{
    font-size: 60px;
}
#B{
    position: relative;
    bottom: 55px;
    left: 10px;
}
#Boton{
   background-color: rgb(12, 238, 12); 
   padding: 30px;
   width: 100px;
   height: 30px;
   border-radius: 30px;
   left: 30px;
}
#C{
    color: white;
    position: relative;
    bottom: 15px;
    font-size: 25px;
}
.D{
    position: relative;
    bottom: 70px;
}
.Horario{
    position: relative;
    bottom: 70px;
    left: 30px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
header{
    z-index: 100 ;
    position: fixed;
    padding: 10px 5%;
    background-color:rgb(240, 255, 251);
    top: 0px;
    left: 0px;
    width: 100%;
  }
.E{
    padding: 30px;
     color: rgb(44, 213, 255);
    font-size: 50px;
}
#H{
    position: relative;
    bottom: 110px;
}
#I{
    position: relative;
    bottom: 215px;
}
.Block{
    position: relative;
    bottom: 230px;
    display: block;
}
.F_ {
    margin-bottom: 30px;
    display: block;
    border-radius: 30px;
    position: relative;
    bottom: 1000px;
    left: 1300px;
    background-color: white;
    width: 800px;
    height: 100px;
    border: none;           /* quita el borde por defecto del input */
    padding: 0 30px;        /* texto separado de los bordes */
    box-sizing: border-box; /* para que width incluya padding */
    outline: none;          /* quita borde azul al enfocar */
}

.G_ {
    font-size: 30px;
    color: lightslategrey;
}

#J{
    position: relative;
    font-size: 60px;
    left: 1380px;
    bottom: 900px;
}
#K{
    position: relative;
    font-size: 60px;
    left: 1600px;
    bottom: 960px;
}
#ArticleB{
    padding: 30px;
    background-color: rgb(240, 240, 240);
    height: 900px;
}
#L{
    position: relative;
    left: 1100px;
}
#M{
    position: relative;
    left: 1150px;
}
#N{
    position: relative;
    left: 1200px;
}
#O{
    position: relative;
    left: 1250px;
}
#P{
    position: relative;
    left: 1300px;
}
#Q{
    position: relative;
    left: 1350px;
}
#R{
    position: relative;
    left: 1370px;
}
#S{
    position: relative;
    color: lightslategray;
    left: 1260px;
    bottom: 20px;
}
#T{
    padding: 30px;
    border-radius: 0;
    background-color: rgb(36, 36, 36);
    height: 600px;
}
#U{
    padding: 30px;
    border-radius: 0;
    background-color: rgb(20, 20, 20);
    height: 20px;
}
.White{
    color: white;
}
#Copyright{
    color: rgb(232, 231, 231);
    position: relative;
    left: 1900px;
    bottom: 35px;
}
#Facebook{
    position: relative;
    height: 60px;
    left: 460px;
    top: 29px;
}
#WhatsApp{
    position: relative;
    height: 60px;
    left: 500px;
    top: 30px;
}
.Title{
    font-size: 60px;
}
#V{
    position: relative;
    color: white;
    font-size: 60px;
    left: 450px;
    top: 100px;
}
#W{
    position: relative;
    color: white;
    font-size: 60px;
    top: 50px;
    left: 450px;
}
.X{
    position: relative;
    font-size: 20px;
    color: white;
    left: 1300px;
    bottom: 240px;
}
.Y{
    position: relative;
    font-size: 20px;
    color: rgb(220, 220, 220);
    left: 1300px;
    bottom: 265px;
}
.Z{
    position: relative;
    font-size: 20px;
    color: white;
    left: 1300px;
    bottom: 265px;
}
#Proceso{
    position: relative;
    left: 1600px;
    bottom: 250px;
}
#ArticleC{
    background-color: rgb(248, 248, 248);
    padding: 30px;
    height: 700px;
}
#ProcesoB{
    position: relative;
    left: 400px;
    top: 100px;
}
#ProcesoC{
    position: relative;
    left: 400px;
    top: 65px;
}
#ProcesoD{
    position: relative;
    left: 400px;
    top: 30px;
}
.ProcesoE{
    font-size: 50px;
}
#ArticleD{
    padding: 30px;
    margin: 10px;
}
